body {
	background-image: url("/static/img/Background.jpeg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-blend-mode: normal;
	padding-top: 4rem;
}

.navbar-dark {
	background-color: #0d1a65;
}

.navbar-link {
	font-weight: bold;
}

#btn_lang {
	color: white;
}

#dropdown_lang {
	width: 15rem;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #0d1a65;
    color: white;
	border-radius:1rem;
}

#signin_btn {
	border-top-left-radius:1rem;
	border-bottom-left-radius: 1rem;
}

#login_btn_large {
	border-top-right-radius:1rem;
	border-bottom-right-radius: 1rem;
}

#login_btn_small {
	border-color: rgba(128, 128, 128, 0.632);
}

.log_form {
	width: 35rem;
	max-width: 97vw;
	overflow-x: hidden;
	position: absolute;
	top: 100%;
    transform: translateY(10px);
}

.offcanvas {
	background-color: #0d1a65;
}

#app {
	background-color: white;
	border-radius:2rem;
}

.img-border {
	border: 5px solid darkcyan;
}

.txt-red {
	color: darkred;
}

.txt-blue {
	color: #0d1a65;
}

#signin_btn_index {
	background-color: darkred;
	color: white;
	border-top-left-radius:1rem;
	border-bottom-left-radius: 1rem;
}

#login_btn_index {
	background-color: #0d1a65;
	color: white;
	border-top-right-radius:1rem;
	border-bottom-right-radius: 1rem;
}

.img-flex {
	min-width: 200px;
}

a {
	font-family: "Audiowide", sans-serif;
	font-weight: 400;
	font-style: normal;
}

p {
	font-family: "Audiowide", sans-serif;
	font-weight: 400;
	font-style: normal;
}

h1 {
	font-family: "Audiowide", sans-serif;
	font-weight: 400;
	font-style: normal;
}

span {
	font-family: "Audiowide", sans-serif;
	font-weight: 400;
	font-style: normal;
}

/* pong game */

#main-menu {
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	z-index: 1;
}

#main-menu button {
    background-color: white;
    color: black;
    border: none;
    padding: 15px 30px;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
	z-index: 2;
}

#main-menu button:hover {
    background-color: grey;
}

#score-container {
    position: absolute;
    top: 20px;
    width: 100%;
    /* display: flex;
    justify-content: space-between; */
    padding: 0 20px;
    font-size: 48px;
    font-family: 'Courier New', Courier, monospace;
}

#score-player1, #score-player2 {
    color: white;
}

#score-player1 {
	float: left;
}

#score-player2 {
	float: right;
}

#difficulty-menu {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	z-index: 2;
}

#difficulty-menu button {
    background-color: white;
    color: black;
    border: none;
    padding: 15px 30px;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px
}

#difficulty-menu button:hover {
    background-color: grey;
}

.padding1, .padding2 {
    top: 50%;
	position: absolute;
    background: white;
    height: 150px;
    width: 15px;
    border-radius: 50px;
    transform: translateY(-50%);
    transition: 0.06s linear;

}

.padding1 {
    left: 5px;
}

.padding2 {
    right: 5px;
}

.ball {
	height: 20px;
	width: 20px;
	background : white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	z-index: 1;
}

.box {
    top: 100%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
	bottom: 0;
	margin-bottom: 20px;

    height: 600px;
	width: 700px;
	background : black;
    border : 5px solid white;
	position: absolute;
	transition: 0.3s ease;
	/* z-index: -1; */
	/* box-sizing: border-box; */

}

.delimiter {
    height: 100%;
	width: 5px;
    top: 0;
    left: 50%;
	border: 3px dashed white;
	transform: translateX(-50%);
	position: absolute;
	z-index: 0;
}

.user_display {
	color: white;
}

#offcanvasRightLabel {
	color: white;
}

#deleteAccountBtn:hover {
    background-color: #dc3545;  /* Rouge */
    border-color: #dc3545;      /* Bordure rouge */
    color: white;               /* Texte en blanc */
}