.navbar-dark {
	background-color: #0d1a65;
}

.navbar-link {
	font-weight: bold;
}

#signin_btn {
	border-top-left-radius:1rem;
	border-bottom-left-radius: 1rem;
}

#login_btn {
	border-top-right-radius:1rem;
	border-bottom-right-radius: 1rem;
}

.dropdown-menu {
	width: 20rem;
}
