body {
	background-image: url("/static/img/Background.jpeg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-blend-mode: normal;
	padding-top: 4rem;
}

.navbar-dark {
	background-color: #0d1a65;
}

.navbar-link {
	font-weight: bold;
}

#btn_lang {
	color: white;
}

#dropdown_lang {
	width: 15rem;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #0d1a65;
    color: white;
	border-radius:1rem;
}

#signin_btn {
	border-top-left-radius:1rem;
	border-bottom-left-radius: 1rem;
}

#login_btn {
	border-top-right-radius:1rem;
	border-bottom-right-radius: 1rem;
}

#little_login {
	border-color: rgba(128, 128, 128, 0.632);
}

#dropdown_form {
	width: 35rem;
	max-width: 97vw;
	overflow-x: hidden;
	position: absolute;
	top: 100%;
    transform: translateY(10px);
}

.offcanvas {
	background-color: #0d1a65;
}

#app {
	background-color: white;
	border-radius:2rem;
}

.img-border {
	border: 5px solid darkcyan;
}

.txt-red {
	color: darkred;
}

.txt-blue {
	color: #0d1a65;
}

#signin_btn_index {
	background-color: darkred;
	color: white;
	border-top-left-radius:1rem;
	border-bottom-left-radius: 1rem;
}

#login_btn_index {
	background-color: #0d1a65;
	color: white;
	border-top-right-radius:1rem;
	border-bottom-right-radius: 1rem;
}

.img-flex {
	min-width: 200px;
}

a {
	font-family: "Audiowide", sans-serif;
	font-weight: 400;
	font-style: normal;
}

p {
	font-family: "Audiowide", sans-serif;
	font-weight: 400;
	font-style: normal;
}

h1 {
	font-family: "Audiowide", sans-serif;
	font-weight: 400;
	font-style: normal;
}

span {
	font-family: "Audiowide", sans-serif;
	font-weight: 400;
	font-style: normal;
}
