body {
	background-image: url("/static/img/Background.jpeg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-blend-mode: normal;
	background-size: cover;
	padding-top: 4rem;
}

.navbar-dark {
	background-color: #0d1a65;
}

.navbar-link {
	font-weight: bold;
}

#btn_lang {
	color: white;
}

.btn-red {
	background-color: #9c0101;
	color: white;
}

.btn-blue {
	background-color: #0d1a65;
	border-color: #0d1a65;
	color: white;
}

.txt-grey {
	color: #777777;
}

.border-blue {
	border: 5px solid #007bff;
}

#friend-list {
	overflow-y: auto;
	max-height: 360px;
}

#dropdown_lang {
	width: 15rem;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #0d1a65;
    color: white;
	border-radius:1rem;
}

#signin_btn {
	border-top-left-radius:1rem;
	border-bottom-left-radius: 1rem;
}

#login_btn_large {
	border-top-right-radius:1rem;
	border-bottom-right-radius: 1rem;
}

#login_btn_small {
	border-color: rgba(128, 128, 128, 0.632);
}

#option {
	align-items: center;
	gap: 10px;
	border: 0;
}

.log_form {
	width: 35rem;
	max-width: 97vw;
	overflow-x: hidden;
	position: absolute;
	top: 100%;
    transform: translateY(10px);
}

#dropdown_AddFriend {
	width: 20rem;
	max-width: 40vw;
	overflow-x: hidden;
	position: absolute;
	top: 100%;
    transform: translateY(1px);
}

.offcanvas {
	background-color: #0d1a65;
}

#app {
	background-color: white;
	border-radius:2rem;
}

.img-border {
	border: 5px solid darkcyan;
}

.txt-red {
	color: darkred;
}

.txt-blue {
	color: #0d1a65;
}

.div-grey {
	background-color: #e7e7e7;
}

.div-white {
	background-color: white;
}

.div-blank {
	background-color: #defffe;
}

.div-blue {
	background-color: #007bff;
}

.Diagram {
	width: 60%;
	height: auto;
}

.border-green {
	border: 4px solid green;
}

.border-red {
	border: 4px solid darkred;
}

#div-tchat {
	position: relative;
	height: 450px;
	overflow: hidden;
}

#message_lst {
	overflow-y: auto;
	max-height: 360px;
	width: 100%;
}

.message {
	display: inline-block;
	max-width: auto;
	white-space: pre;
}

#friends_menu {
	position: absolute;
    top: auto;
    right: 0;
    height: 96%;
	width: 45%;
    transform: translateX(120%);
    transition: transform 0.3s ease-in-out;
	background-color: #e7e7e7;
}

@media (min-width: 768px) {
	#friends_menu {
		position: static;
		transform: translateX(0);
		width: 33.33333333333333333333333%;
		height: auto;
	}
}

#friends_menu.open {
	transform: translateX(0);
	z-index: 1050;
}

#signin_btn_index {
	background-color: darkred;
	color: white;
	border-top-left-radius:1rem;
	border-bottom-left-radius: 1rem;
}

#login_btn_index {
	background-color: #0d1a65;
	color: white;
	border-top-right-radius:1rem;
	border-bottom-right-radius: 1rem;
}

.img-flex {
	min-width: 200px;
}

a {
	font-family: "Audiowide", sans-serif;
	font-weight: 400;
	font-style: normal;
}

p {
	font-family: "Audiowide", sans-serif;
	font-weight: 400;
	font-style: normal;
}

h1 {
	font-family: "Audiowide", sans-serif;
	font-weight: 400;
	font-style: normal;
}

h5 {
	font-family: "Audiowide", sans-serif;
	font-weight: 400;
	font-style: normal;
}

span {
	font-family: "Audiowide", sans-serif;
	font-weight: 400;
	font-style: normal;
}

/* pong game */

#main-menu {
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	z-index: 1;
}

#main-menu button {
    background-color: white;
    color: black;
    border: none;
    padding: 15px 30px;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
	z-index: 2;
}

#main-menu button:hover {
    background-color: grey;
}

#score-container {
    position: absolute;
    top: 20px;
    width: 100%;
    /* display: flex;
    justify-content: space-between; */
    padding: 0 20px;
    font-size: 48px;
    font-family: 'Courier New', Courier, monospace;
}

#score-player-left, #score-player-right {
    color: white;
}

#score-player-left {
	float: left;
}

#score-player-right {
	float: right;
}

#difficulty-menu, #pvp-menu {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	z-index: 2;
}

#difficulty-menu button, #pvp-menu button {
    background-color: white;
    color: black;
    border: none;
    padding: 15px 30px;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px
}

#difficulty-menu button:hover, #pvp-menu button:hover {
    background-color: grey;
}

.padding-left, .padding-right {
    top: 50%;
	position: absolute;
    background: white;
    height: 150px;
    width: 15px;
    border-radius: 50px;
    transform: translateY(-50%);
    transition: 0.06s linear;

}

.padding-left {
    left: 5px;
}

.padding-right {
    right: 5px;
}

.ball {
	height: 20px;
	width: 20px;
	background : white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	z-index: 1;
}

.box {
    top: 100%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
	bottom: 0;
	margin-bottom: 20px;

    height: 600px;
	width: 700px;
	background : black;
    border : 5px solid white;
	position: absolute;
	transition: 0.3s ease;
	/* z-index: -1; */
	/* box-sizing: border-box; */

}

.delimiter {
    height: 100%;
	width: 5px;
    top: 0;
    left: 50%;
	border: 3px dashed white;
	transform: translateX(-50%);
	position: absolute;
	z-index: 0;
}

#user_connected {
	color: white;
}

#offcanvasRightLabel {
	color: white;
}

#deleteAccountBtn:hover {
    background-color: #dc3545;  /* Rouge */
    border-color: #dc3545;      /* Bordure rouge */
    color: white;               /* Texte en blanc */
}

.avatar-img {
    border: 2px solid transparent;
    transition: border-color 0.2s;
}

.avatar-img:hover {
    border-color: #007bff;
}

.avatar-img.selected {
    border-color: #007bff;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
    background-color: #dc3545;
    border-color: #dc3545;
    color: white;
}

.modal-content {
    padding-bottom: 0;
}
.modal-header {
    border-bottom: none;
}

#chat-container {
	border: 1px solid #ccc;
	padding: 10px;
	width: 300px;
	height: 400px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	background: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	overflow-y: auto;
}

#chat-log {
	height: 300px;
	overflow-y: auto;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
}

#chat-input {
	display: flex;
}

#chat-message-input {
	flex: 1;
	padding: 5px;
}

#chat-message-submit {
	padding: 5px 10px;
}