{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<meta name="csrf-token" content="{{ csrf_token }}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/Logo_page.ico' %}">

    <!--Boostrp css requirement-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/Game_css/Buttons.css' %}" rel="stylesheet">
    <link href="{% static 'css/Game_css/Elements.css' %}" rel="stylesheet">
    <link href="{% static 'css/Game_css/Menus.css' %}" rel="stylesheet">

    <!--Police css-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">

    <title>Ft_Transcendence</title>
</head>

<body>
    <!--Boostrp CDN link requirement-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
    
    <nav class="navbar navbar-expand-md navbar-dark p-0 fixed-top">
        <button class="navbar-toggler ms-2 px-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#OffcanvasNavBar" aria-controls="OffcanvasNavBar" aria-label="Toggle NavBar">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <a class="navbar-brand ms-3" href="/" data-link><img src="{% static 'img/Logo_v2.png' %}" alt="logo" width="75" height="65"/></a>
        <div class="collapse navbar-collapse" id="NavCollaspe">
            <ul class="navbar-nav me-auto mb-2 mb-md-0 lst_link" style="display: none;">
                <li class="nav-item"><a class="nav-link fs-5 me-2" href="/Game/" data-link>Game</a></li>
                <li class="nav-item"><a class="nav-link fs-5 me-2" href="/page2/" data-link>Page2</a></li>
            </ul>
            <div class="ms-auto dropdown">
                <button class="btn dropdown-toggle" id="btn_lang" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{{ texts.Flag_nav }}" alt="lang" height="30px" width="30px"/>
                </button>
                <ul class="dropdown-menu dropdown-menu-md-end pe-3" id="dropdown_lang">
                    <li><button class="dropdown-item px-3 mx-2" id="btn_fr" onclick="Change_lang('fr')"><img src="{% static 'img/flags/fr.png' %}" alt="fr" height="50px" width="50px"/><span class="fs-4"> Français</span></button></li>
                    <li><button class="dropdown-item px-3 mx-2" id="btn_en" onclick="Change_lang('en')"><img src="{% static 'img/flags/en.png' %}" alt="fr" height="50px" width="50px"/><span class="fs-4">	English</span></button></li>
                    <li><button class="dropdown-item px-3 mx-2" id="btn_es" onclick="Change_lang('es')"><img src="{% static 'img/flags/es.png' %}" alt="fr" height="50px" width="50px"/><span class="fs-4">	Español</span></button></li>
                </ul>
            </div>
        </div>
        
		<!-- options button when connected-->
		<button class="btn btn-outline-primary me-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" id="option" style="display: none;">
            <div id="user_avatar" style="display: none;">
                <!-- script dyhnamique -->
            </div>
            <span id="user_connected" style="display: none;">
                <!-- script dyhnamique -->
            </span>
		</button>

		<!-- sign-in / login buttons -->
		<div class="btn-group me-3 d-flex align-items-center" id="bar_sub_login" role="toolbar" aria-label="Connexion Inscription" style="display:none;">
            <a class="btn btn-outline-light d-none d-md-block" href="/sign_in/" id="signin_btn">{{ texts.Sign_in }}</a>
            <button class="btn btn-outline-light d-block d-md-none rounded-2" id="login_btn_small" type="button" data-bs-toggle="dropdown" aria-expanded="false" >
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="grey" class="bi bi-person" viewBox="0 0 16 16">
                	<path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
				</svg>
            </button>
            <button class="btn btn-light d-none d-md-block" id="login_btn_large" type="button" data-bs-toggle="dropdown" aria-expanded="false" >{{ texts.Log_in }}</button>
            <form class="dropdown-menu dropdown-menu-end p-3 log_form" id="dropdown_form">
				{% csrf_token %}
                <div class="mb-1">
                    <label for="Email_input" class="form-label fs-4">{{ texts.Email_1 }}</label>
                    <input type="email" class="form-control fs-4" id="Email_input" placeholder="email@exemple.com" name="email" required>
                </div>
                <div class="mb-1">
                    <label for="Passwd_input" class="form-label fs-4">{{ texts.Passwd_1 }}</label>
                    <input type="password" class="form-control fs-4" id="Passwd_input" placeholder="123merde" name="password" required>
                </div>
                <div class="text-center mb-1">   
                    <button type="submit" class="btn btn-primary fs-4">{{ texts.OK_btn }}</button>
                </div>
                <div class="text-center">   
                    <a class="btn btn-light fs-4" href="https://api.intra.42.fr/oauth/authorize?client_id=u-s4t2ud-74c5a74b9bae831aafaf85e15f96bdfc8fbf92c9cea3732e1a449c956a41b6ba&redirect_uri=https%3A%2F%2Flocalhost%2Fapi%2Flog-42%2F&response_type=code">
                        {{ texts.Log_42 }}  <img src="{% static 'img/42_Logo.svg.ico' %}" alt="logo" width="40" height="40" id="42-logo"/>
                    </a>
                </div>
            </form>
        </div>
    </nav>
    
    <!--Offcanva Menu (petit ecran)-->
    <div class="offcanvas offcanvas-start text-white" tabindex="-1" id="OffcanvasNavBar" aria-labelledby="OffcanvasNavBarLabel">
        <div class="offcanvas-header">
            <h1 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body d-flex flex-column pt-0">
            <ul class="navbar-nav me-auto mb-2 mb-md-0 lst_link" style="display: none;"></ul>
                <li class="nav-item"><a class="nav-link fs-5 me-2" href="/Game/" data-link>Game</a></li>
                <li class="nav-item"><a class="nav-link fs-5 me-2" href="/page2/" data-link>Page2</a></li>
            </ul>
            <div class="mt-auto">
                <div class="dropdown">
                    <button class="btn dropdown-toggle" id="btn_lang" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{{ texts.Flag_nav }}" alt="lang" height="30px" width="30px"/>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-lg-end pe-3" id="dropdown_lang">
                        <li><button class="dropdown-item px-3 mx-2" id="btn_fr" onclick="Change_lang('fr')"><img src="{% static 'img/flags/fr.png' %}" alt="fr" height="50px" width="50px"/><span class="fs-4"> Français</span></button></li>
                        <li><button class="dropdown-item px-3 mx-2" id="btn_en" onclick="Change_lang('en')"><img src="{% static 'img/flags/en.png' %}" alt="fr" height="50px" width="50px"/><span class="fs-4">	English</span></button></li>
                        <li><button class="dropdown-item px-3 mx-2" id="btn_es" onclick="Change_lang('es')"><img src="{% static 'img/flags/es.png' %}" alt="fr" height="50px" width="50px"/><span class="fs-4">	Español</span></button></li>
                    </ul>
                </div>
                <a href="/sign_in/" id="signin_btn_little" class="btn btn-outline-light mt-2 w-100 rounded-5" style="display: block;">{{ texts.Sign_in }}</a>
            </div>
        </div>
    </div>
    

    <div id="app">  
        <!--Sript dynamique-->
    </div>
    
    {% if messages %}
    {% for message in messages %}
    <script>
        alert('{{ message }}');
        document.getElementById('login_btn').click();
    </script>
    {% endfor %}
    {% endif %}

    <!--Template injecter par le js dans le div app-->
    <template id="temp_index">
		{% if messages %}
			{% for message in messages %}
			<div class="alert alert-info">
				{{ message }}
			</div>
			{% endfor %}
		{% endif %}
        <div class="row align-items-center" id="sign_log" style="display: flex;">
            <div class="col p-2 ">
                <p class="fs-3 fw-bold m-0 txt-blue">{{ texts.Index_1 }}</p>
                <p class="fs-1 fw-bolder txt-red text-center">Ft_Transcendence</p>
                <p class="fs-5 txt-blue">{{ texts.Index_2 }}</p>
                <div class="btn-group btn-group-lg d-flex justify-content-center" aria-label="Connexion Inscription">
                    <a class="btn btn-dark" href="/sign_in/" id="signin_btn_index"><span>{{ texts.Regis_now }}</span></a>
                    <button class="btn btn-dark" id="login_btn_index" type="button" onclick="Click_login();"><span>{{ texts.Log_on }}</span></button>
                </div>
            </div>
            <div class="col p-4">
                <img src="{% static 'anim/pong_index.gif' %}" alt="pong_index gif" class="img-fluid d-block mx-auto rounded-5 img-border img-flex">
            </div>
        </div>
	</template>

	<!-- temp connected -->
    <template id="temp_login">
		<!-- friend list -->
		<div>
		    <h3>Mes Amis</h3>
		    <ul id="friend-list">
		        <!-- La liste des amis sera affichée ici -->
		    </ul>
		</div>

		<div>
		    <label for="username">Nom d'utilisateur de l'ami :</label>
		    <input type="text" id="username" placeholder="Entrez le nom d'utilisateur">
		    <button onclick="sendFriendRequest()">Envoyer une demande d'ami</button>
		</div>

		<div>
			<h3>Demandes d'ami(e)s</h3>
			<ul id="friend-request-list">
				<!-- Les demandes seront affichées ici -->
			</ul>
		</div>
		

		<!-- stats -->
		<div class="row align-items-center" id="stats" style="display: flex;">
			<div class="container mt-5">
				<p class="fs-3 fw-bold m-0 txt-blue text-center">Stats</p>
				<table class="table table-bordered">
					<thead class="thead-dark">
						<tr>
							<th class="fs-3 fw-bold m-0 txt-blue text-center" scope="col">Wins</th>
							<th class="fs-3 fw-bold m-0 txt-red text-center" scope="col">Loses</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="fs-5 txt-blue text-center" id="nbWin">{{ request.user.nb_win }}</td>
							<td class="fs-5 txt-red text-center" id="nbLose">{{ request.user.nb_lose }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
    </template>

    <template id="Game">
        <div id="game-container">
            <!-- players information area -->
            <div id="LeftPlayer">
                <p id="LeftPlayerName">...</p>
                <p id="LeftPlayerScore">0</p>
                <img src="icons/DefaultIcon.png" alt="LeftUserIcon" id="leftUserIcon">
            </div>
            <div id="RightPlayer">
                <p id="RightPlayerName">...</p>
                <p id="RightPlayerScore">0</p>
                <img src="icons/DefaultIcon.png" alt="RightUserIcon" id="rightUserIcon">
            </div>
    
            <!-- menu area -->
            <div id="main-menu">
                <button id="AIButton">{{ texts.PlayerVsAI }}</button>
                <button id="HostGame1v1Button">{{ texts.PlayerVsPlayer }}</button>
                <button id="HostGame2v2Button">{{ texts.GameTeams }}</button>
                <button id="HostTournamentButton">{{ texts.Tournament }}</button>
            </div>
            
            <div id="AIMenu">
                <button id="AIEasyButton">{{ texts.AIEasyDifficulty }}</button>
                <button id="AIMediumButton">{{ texts.AIMediumDifficulty }}</button>
                <button id="AIHardButton">{{ texts.AIHardDifficulty }}</button>
            </div>
            
            <div id="Room" style="display: none">
                <div id="UsersInformation">
                    <div id="Host">
                        <p id="HostName">Host</p>
                        <img src="icons/DefaultIcon.png" alt="HostUserIcon" id="hostUserIcon">
                    </div>
                    <div id="User1">
                        <p id="User1Name">...</p>
                        <img src="icons/DefaultIcon.png" alt="User1Icon" id="user1Icon">
                        <input id="User1SearchBox" type="SearchBox">
                        <button id="User1Search">{{ texts.GameUserSearch }}</button>
                    </div>
                    <div id="User2">
                        <p id="User2Name">...</p>
                        <img src="icons/DefaultIcon.png" alt="User2Icon" id="user2Icon">
                        <input id="User2SearchBox" type="SearchBox">
                        <button id="User2Search">{{ texts.GameUserSearch }}</button>
                    </div>
                    <div id="User3">
                        <p id="User3Name">...</p>
                        <img src="icons/DefaultIcon.png" alt="User3Icon" id="user3Icon">
                        <input id="User3SearchBox" type="SearchBox">
                        <button id="User3Search">{{ texts.GameUserSearch }}</button>
                    </div>
                    <!-- <script>function clearInput(id) {document.getElementById(id).value = "";}</script> -->
                    <!-- <script></script> -->
                </div>
                <button id="StartGame">{{ texts.StartGame }}</button>
            </div> 
            
            <div id="EndGameMenu">
                <p id="Winner">{{ texts.Winner }}</p>
                <img src="icons/DefaultIcon.png" alt="WinnerIcon" id="WinnerIcon">
                <p id="WinnerName">username</p>
                <p id="Draw">{{ texts.GameDraw }}</p>
                <button id="PlayAgain">{{ texts.PlayAgain }}</button>
                <button id="NextButton">{{ texts.NextButton }}</button>
            </div>
    
            <div id="OptnMenu">
                <p id="DarkModeText">Dark Mode:</p>
                <label class="switch" id="DarkModeSwitch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
                <button id="OptnControlsButton">Controls</button>
            </div>
    
            <!-- game area -->
            <div id="game-area">
                <div id="ball"></div>
                <div id="left-paddle"></div>
                <div id="right-paddle"></div>
                <div id="delimiter"></div>
                <button id="ready">{{ texts.Ready }}</button>
                <p id="counter">3</p>
            </div>
    
            <!-- Others elements -->
            <p id="tips1" style="display: none">tips</p>
            <p id="tips2" style="display: none">tips</p>
            <button id="BackMainMenuButton">{{ texts.MainMenu }}</button>
            <button id="OptnButton">⚙</button>
            <!-- <h4 id="GameTypeHeader">none</h4> -->
        </div>
    </template>
	<!-- temp change avatar -->
	<template id="temp_change_avatar">
		<div class="py-2 px-3 my-4" id="change_avatar">
			<h1 class="text-center fw-bold">Change ton avatar</h1>
			<form method="post" id="change-avatar-form">
				<div id="avatar-container" class="d-flex flex-wrap gap-2"></div>
                <div class="text-center mt-3">   
                    <button type="button" class="btn btn-primary" onclick="handleFormChangeAvatar()">Enregistrer</button>
                </div>
			</form>
		</div>
	</template>

    <template id="temp_change_password">
		<!-- change password -->
		<div class="py-2 my-3" id="change_password">
			<h1 class="text-center fw-bold">{{ texts.Change_Passwd_1 }}</h1>
			<form class="mx-1" method="post" id="change-password-form">
				{% csrf_token %}
				<div class="form-group my-2">
					<label for="oldPassword">{{ texts.Change_Passwd_2 }}</label>
					<input type="password" id="oldPassword" name="oldPassword" class="form-control" required>
				</div>
				<div class="form-group my-2">
					<label for="newPassword">{{ texts.Change_Passwd_3 }}</label>
					<input type="password" id="newPassword" name="newPassword" class="form-control" required>
				</div>
				<div class="form-group my-2">
					<label for="confirmPassword">{{ texts.Change_Passwd_4 }}</label>
					<input type="password" id="confirmPassword" name="confirmPassword" class="form-control" required>
				</div>
				<div class="text-center m-2">
					<button type="submit" class="btn btn-primary">{{ texts.Change_Passwd_5 }}</button>
				</div>
			</form>
		</div>
    </template>
        

    <template id="temp_notFound">
        <img src="{% static 'anim/404_err.gif' %}" alt="Err_404 gif" class="img-fluid d-block mx-auto rounded-5 img-border"/>
        <h1 class="text-center fw-bolder">{{ texts.404_Err }}</h1>
    </template>

	<!-- Modal Bootstrap pour connexion -->
	<div class="modal" id="successModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="infoco"><!--script dynamique--></h5>
				</div>
			</div>
		</div>
	</div>

	<!-- options when client is connected -->
	<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
		<div class="offcanvas-header">
		  <h1 class="offcanvas-title" id="offcanvasRightLabel">{{ texts.Options }}</h1>
		  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
		<div class="offcanvas-body">
		  <!-- Contenu de la fenêtre coulissante -->
		  <a class="btn btn-outline-light mt-2 w-100 rounded-5" id="change_avatar_btn" href="/change-avatar/" data-link>Changer mon avatar</a>
          <a class="btn btn-outline-light mt-2 w-100 rounded-5" id="change_password_btn" href="/change-password/" data-link>{{ texts.Change_Passwd_5 }}</a>
		  <button class="btn btn-outline-light mt-2 w-100 rounded-5" id="logout_btn" type="button">{{ texts.Log_out }}</button>
		  <button id="deleteAccountBtn" class="btn btn-outline-light mt-2 w-100 rounded-5">{{ texts.Del_account }}</button>
		</div>
	</div>
	<script type="module" defer src="{% static 'js/main.js' %}"></script>
	<script defer src="{% static 'js/pong.js' %}"></script>

	<!-- <script defer src="{% static 'js/pong.js' %}"></script> -->
	<!-- <script defer src="{% static 'css/style.css' %}"></script> -->
</body>
</html>
