:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --border-color: #000000;
	--hover-color: grey;
}
.dark-mode {
	--background-color: #121212;
	--text-color: #ffffff;
	--border-color: #ffffff;
	--hover-color: #f0f0f0;
}

#main-menu button:hover, #AIMenu button:hover, #Room button:hover, #EndGameMenu button:hover, #BackMainMenuButton:hover {
	background-color: lightgrey;
}

#main-menu button, #AIMenu button {
	cursor: pointer;
	position: relative;
	font-size: 20px;
	margin: 5px;
	border-radius: 10px;
	pointer-events: auto;
	
}

#main-menu button {background-color: var(--text-color); color: var(--background-color); width: 240px;}
#AIMenu button {width: 200px;}

#AIEasyButton {background-color: white; border: solid 1px var(--border-color);}
#AIMediumButton {background-color: lightgreen;}
#AIHardButton {background-color: lightcoral;}

#StartGame {
	font-size: 40px;
    position: absolute;
    bottom: 20px;
    width: 350px;
    margin: 10px;
}

/* #PlayAgain, #NextButton{
	background-color: var(--text-color);
	background-color: yellow;
	color: var(--background-color);
} */

#PlayAgain {
	/* border: solid 5px white; */
	position: absolute;
    display: flex;
    flex-direction: center;
    top: 70%
}

#NextButton {
	position: absolute;
    display: flex;
    flex-direction: center;
    top: 70%
}

#OptnButton {
	display: flex;
	background-color: transparent;
	border: none;
	font-size: 60px;
	color: grey;
	position: absolute;
	right: 12px;
	bottom: 5px;
	margin: 10px;
	z-index: 1002;
	transition: right 0.5s ease;
}

#OptnButton:hover {
	background-color: transparent;
	/* background-color: yelloww; */
	color: yellow;
}

#BackMainMenuButton {
	display: inline-block;
	position: absolute;
	width: 250px;
	font-size: 30px;
	border-radius: 20px;
	border: solid 5px var(--border-color);
	left: 70%;
	transform: translate(-50%, -50%);
	bottom: 10px;
	/* font-size: calc(16px + 1vw); */
}

#Room button {
	cursor: pointer;
    background-color: var(--text-color);
	color: var(--background-color);
    border-radius: 10px;
}
#Host button, #User1 button, #User2 button, #User3 button {
	width: 100px;
    height: 30px;
    position: absolute;
	background-color: var(--text-color);
	color: var(--background-color);
    bottom: -70px;
    left: 50%;
    transform: translate(-50%, -50%);
}
#EndGameMenu button {
	background-color: var(--text-color);
	color: var(--background-color);
	font-size: 48px;
    border: solid 5px var(--background-color);
    border-radius: 20px;
    display: flex;
    text-align: center;
    position: absolute;
    right: 50%;
    transform: translate(50%);
}

#AIButton {
	position: absolute;
	left: 100%;
	transition: left 0.5s ease;
}

#HostGame1v1Button {
	position: absolute;
    right: 100%;
    transition: right 0.5s ease;
}

#HostGame2v2Button {
	position: absolute;
    left: 100%;
    transition: left 0.5s ease;
}

#HostTournamentButton {
	position: absolute;
    right: 100%;
    transition: right 0.5s ease;
}

#AIEasyButton {
    position: absolute;
    left: 100%;
    transition: left 0.5s ease;
}

#AIMediumButton {
    position: absolute;
    right: 100%;
    transition: right 0.5s ease;
}

#AIHardButton {
    position: absolute;
    left: 100%;
    transition: left 0.5s ease;
}

#ready {
	position: absolute;
	right: 50%;
	top: 90%;
	font-size: 50px;
	background-color: var(--text-color);
	color: var(--background-color);
	border-radius: 30px;
	cursor: pointer;
	transform: translate(50%, -50%);
	pointer-events: auto;
	z-index: 6;
}

#ready:hover {
	background-color: lightgrey;
}