:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --border-color: #000000;
}
.dark-mode {
	--background-color: #121212;
	--text-color: #ffffff;
	--border-color: #ffffff;
}

#main-menu, #AIMenu, #Room {
	display: flex;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    justify-content: center;
    align-items: center;
	flex-direction: column;
	overflow: hidden
}

#AIMenu {
    width: 700px;
    height: 130px;
}

#Room {
    width: 650px;
    height: 400px;
}

#EndGameMenu {
	top: 50%;
	position: absolute;
	/* border: solid 5px yellow; */
    font-size: 30px;
    width: 700px;
    height: 400px;
	z-index: 100;
	transform: translate(-50%, -50%);
	left: 50%;
}


#OptnMenu {
	border: solid 5px var(--border-color);
	display: flex;
	flex-direction: column;
	width: 250px;
	height: 400px;
	border-radius: 10px;
	background-color: var(--background-color);
	position: absolute;
	bottom: -650px; /*-200px*/
	right: 140px;
	transform: translate(50%, -50%);
	z-index: 1000;
	justify-content: center;
	align-items: center;
	transition: 0.5s ease;
}